{% extends "base1.html" %}

{% load i18n %}

{% block content %}
<div class="container" style="background-color: #ffffff">
    <div class="row">
        <div class="span3">
            <ul class="nav nav-pills nav-stacked">
                {% block standard_tabs %}
                <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a>
                </li>
                <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
                </li>
                <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
                </li>
                <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
                </li>
                <li{% if active_tab == 'alerts' %} class="active"{% endif %}>
                <a href="{% url 'customer:alerts-list' %}">{% trans "Product Alerts" %}</a>
                </li>
                <li{% if active_tab == 'notifications' %} class="active"{% endif %}>
                <a href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
                </li>
                <li{% if active_tab == 'wishlists' %} class="active"{% endif %}>
                <a href="{% url 'customer:wishlists-list' %}">{% trans "Wish Lists" %}</a>
                </li>
                {% endblock %}
            </ul>
        </div>
        <div class="span9">


{% block tabcontent %}
    {% if wishlists %}
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Number of products' %}</th>
                    <th>{% trans 'Action' %}</th>
                </tr>
                {% for wishlist in wishlists %}
                    <tr>
                        <td><a href="{% url 'customer:wishlists-detail' key=wishlist.key %}">{{ wishlist.name }}</a></td>
                        <td>{{ wishlist.lines.count }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'customer:wishlists-detail' key=wishlist.key %}">{% trans 'View' %}</a>
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'customer:wishlists-update' key=wishlist.key %}">
                                            {% trans 'Wish list settings' %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'customer:wishlists-delete' key=wishlist.key %}">
                                            {% trans 'Delete' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>
            {% trans "You don't have any wish lists yet." %}
        </p>
    {% endif %}

    <p>
        <a href="{% url 'customer:wishlists-create' %}" class="btn btn-primary">{% trans 'Create a new wish list' %}</a>
    </p>

{% endblock tabcontent %}
            </div>
{% endblock content %}
