{% extends "catalogue/browse.html" %}

{% load i18n %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}


{% block content %}
    {% if category.description %}
        <div class="container" style="background-color: #ffffff">
            <div class="row" style="display: inline">
                <h3 class="span6" style="padding-left: 100px">{{ category.name|upper }}</h3>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <h4 class="pull-right" style="padding-right: 30px; color: orange">Filter</h4>
                </a>
                <ul class="dropdown-menu">
                    <li id="low">Price:Low to high</li>
                    <li id="high">Price:High to low</li>
                    <li id="popularity">Popularity</li>
                </ul>
            </div>
        <div class="row">
            <div class="col-sm-9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="col-sm-3"><img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-responsive" /></div>
            {% endif %}
        </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
